.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.head-image {
  width: auto;
  transition: max-width 1s, min-width 1s;
}

.head-title {
  font-family: 'Hachi Maru Pop', cursive;
  margin: 5px 0 15px 0;
  transition: font-size 1s;
}

.head-image-expanded{
  min-width: 650px;
  max-width: 650px;
  
}

.head-image-contracted{
  min-width: 300px;
  max-width: 300px;
}

.head-title {
  font-family: 'Hachi Maru Pop', cursive;
  margin: 5px 0 15px 0;
  transition: font-size 1s;
}

.head-title-expanded{
  font-size: 60px;
}

.head-title-contracted{
  font-size: 20px;
}